/* Reseteo general */
body {
    margin: 0px;
}

.header {
    height: 70px;
    background: hsl(62, 32%, 49%);

}

.barra {
    display: flex;
    float: left;
    font-size: 1rem;
    padding-left: 70px;
    height: 70px;
    align-items: center;
}

.barra ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.barra ul li {
    display: inline-block;
    margin-right: 20px;
}

.barra ul li a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.barra ul li a:hover {
    color: #FFFF00;
}

.configuracion {
    float: right;
    display: flex;
    align-items: center;
    height: 70px;
}

.configuracion .user {
    margin-right: 10px;
}

.configuracion .MiCuenta {
    align-items: center;
    margin-right: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
}

.configuracion .idioma {
    display: flex;
    align-items: center;
}

.configuracion .idioma .ES {
    font-family: 'Inter', sans-serif;
    margin-right: 10px;
    font-size: 0.7rem;
}

.configuracion .idioma .ES {
    font-family: 'Inter', sans-serif;
    margin-right: 10px;
}

.configuracion .idioma .flag {
    margin-right: 10px;
}

.configuracion .idioma .arrow {
    margin-right: 10px;
}

.principal {
    position: relative;
    overflow: hidden;
}

.principal img {
    width: 100%;
    height: 100%;
    display: block;
}

.texto-principal {
    position: absolute;
    top: 206px;
    left: 478px;
    transform: translate(-100%, -50%);
    font-size: 96px;
    font-family: 'Romanesco', cursive;
}

.texto-secundario {
    position: absolute;
    top: 327px;
    left: 575px;
    transform: translate(-70%, -50%);
    font-family: 'Inter' ,sans-serif;
    font-weight: 600;
    font-size: 32px;
}
.agenda {
    height: 100px;
    display: flex;
    background: #F2F6F6;
    justify-content: center;
}

.formulario {
    display: flex;
    height: 100px;
    padding-left: 65px;
}
.reserva{
    display: flex;
    align-items: center;
    gap: 30px;
} 
.codigo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reserva label{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.codigo label {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 35px;
}

.reserva input{
    height: 55px;
    width: 275px;
    border: solid #F2F6F6;
    border-radius: 15px;
    padding: 0 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: black;
} 
.codigo input {
    height: 55px;
    width: 200px;
    border: 1px solid #F2F6F6;
    border-radius: 15px;
    padding: 0 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: black;
}

.codigo input::placeholder {
    color: #cfc8c8;
}